In [ ]:
'''
판다스
- 2차원 데이터 처리를 넘파이보다 더 효율적으로 처리한다.
- index
    - 개별 데이터를 식별하는 key
- Series
    - 칼럼이 하나인 데이터 구조체
- DataFrame
    - 칼럼이 여러 개인 데이터 구조체

판다스를 사용하기 위해선 우선적으로 데이터프레임으로 변형시켜야한다.
'''
import pandas as pd

In [ ]:
# csv 파일 읽기
titanic_df = pd.read_csv("D:/MLLectureData/train.csv")
titanic_df.head(3)

In [ ]:
print(type(titanic_df)) # <class 'pandas.core.frame.DataFrame'>
titanic_df

In [ ]:
# shape() -> 행과 열의 개수를 보여준다.
print(titanic_df.shape)

In [ ]:
'''
DataFrame.info()
Feature(열) 정보를 표현한다.
'''
titanic_df.info()

In [ ]:
'''
DataFrame.describe()
데이터의 통계적인 수치들을 나타낸다.
'''
titanic_df.describe()

In [ ]:
'''
특정 컬럼 추출
DataFrame["Feature(컬럼) 이름"]
- 특정 Feature(컬럼)을 Series로 반환한다.
    - Series는 특정 Feature(컬럼) 하나를 표현한다.
'''
pclass = titanic_df["Pclass"]
print(pclass)

In [ ]:
'''
value_counts()
- 값의 유형과 건 수
'''
print(pclass.value_counts())

In [ ]:
'''
1차원 리스트 -> DataFrame 변환
'''
col_name1 = ["col1"]
list = [1, 2, 3]
df_list1 = pd.DataFrame(list, columns=col_name1)
print(df_list1)

In [ ]:
'''
1차원 ndarray -> DataFrame 변환
'''
import numpy as np
col_name1 = ["col1"]
array1 = np.array([1, 2, 3])
print(array1.shape)
df_array1 = pd.DataFrame(array1, columns = col_name1)
print(df_list1)

In [ ]:
'''
2차원 리스트 -> DataFrame 변환
'''
col_name2 = ["col1", "col2", "col3"]
list2 = [[1, 2, 3], [11, 12, 13]]
df_list2 = pd.DataFrame(list2, columns = col_name2)
print(df_list2)
'''
   col1  col2  col3
0     1     2     3
1    11    12    13
'''

'''
2차원 ndarray -> DataFrame 변환
'''
col_name2 = ["col1", "col2", "col3"]
array2 = np.array([[1, 2, 3], [11, 12, 13]])
print(array2.shape) # (2, 3)
df_array2 = pd.DataFrame(array2, columns = col_name2)
print(df_array2)
'''
   col1  col2  col3
0     1     2     3
1    11    12    13
'''

In [ ]:
'''
딕셔너리 -> DataFrame
딕셔너리 = 키 값 쌍으로 이뤄져 있음
- 키
    - 컬럼 이름
- 값
    - 컬럼 데이터
'''
dict = {
    "col1" : [1, 11],
    "col2" : [2, 22],
    "col3" : [3, 33]
}

df_dict = pd.DataFrame(dict)
print(df_dict)
'''
   col1  col2  col3
0     1     2     3
1    11    22    33
'''

In [ ]:
'''
DataFrame -> ndarray 변환
values를 이용하여, DataFrame에서 기존 값을 추출한다.
'''
array3 = df_dict.values
print(type(array3), array3.shape) # <class 'numpy.ndarray'> (2, 3)
print(array3)
'''
[[ 1  2  3]
 [11 22 33]]
'''

In [ ]:
'''
DataFrame -> 리스트 변환
DataFrame을 리스트로 변환하기 위해선, DataFrame을 ndarray로 변환한 후, 리스트로 변환해야 한다.
- ndarray를 얻은 후 tolist()를 사용한다.
'''
list3 = df_dict.values.tolist()
print(type(list3)) # <class 'list'>
print(list3) # [[1, 2, 3], [11, 22, 33]]

In [ ]:
'''
DataFrame -> 딕셔너리 변환
- DataFrame의 to_dict("list")사용
    - to_dict("list")에서 list의 의미
        - 딕셔너리는 키, 값 쌍으로 이뤄져 있다.
        - 키, 값 쌍 중 값을 리스트로 나타낸다는 의미이다.
'''
dict3 = df_dict.to_dict("list")
print(type(dict3)) # <class 'dict'>
print(dict3) # {'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]} -> value들이 list로 표현되었다.

In [ ]:
'''
판다스의 DataFrame 조작

컬럼 "Age_0" 추가 및 모든 값을 0으로 할당한다.
'''
titanic_df["Age_0"] = 0
titanic_df.head(3)

In [ ]:
'''
기존 컬럼 이용 방법
- 컬럼 간의 연산 수행
'''
titanic_df["Age_by_10"] = titanic_df["Age"] * 10
titanic_df["Family_No"] = titanic_df["SibSp"] + titanic_df["Parch"] + 1
titanic_df.head(3)

In [ ]:
'''
기존 컬럼 값 갱신
'''
titanic_df["Age_by_10"] = titanic_df["Age_by_10"] + 100
titanic_df.head(3)

In [ ]:
'''
판다스의 데이터 삭제
- 컬럼 삭제, 행 삭제 가능
- DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors="raise")
    - axis = 0인 경우 인덱스 번호를 지정하여 삭제한다.
    - axis = 1인 경우 컬럼 이름을 지정하여 삭제한다.
    - inplace
        - 원본 수정 여부를 묻는다. False일 경우 원본은 그대로 유지된다.
axis = 0
    - 아래쪽 방향 지정 ↓
axis = 1
    - 오른쪽 방향 지정 →
'''
drop_df = titanic_df.drop("Age_0", axis=1)
drop_df.head(3) # titanic_df에는 Age_0 컬럼이 살아 있다. -> inplace가 False이기 때문

In [ ]:
drop_df = titanic_df.drop(["Age_0", "Age_by_10", "Family_No"], axis=1, inplace = True)
print(drop_df) # None
titanic_df.head(3)

In [ ]:
'''
원본의 행 삭제
'''
titanic_df.drop([0, 1, 2], axis=0, inplace=True)
titanic_df.head(3)

In [ ]:
'''
인덱스 객체 추출
'''
titanic_df = pd.read_csv("D:/MLLectureData/train.csv")
indices = titanic_df.index
print(indices) # RangeIndex(start=0, stop=891, step=1)
print(indices.values)

In [ ]:
'''
인덱스 객체

인덱스 객체는 읽을 수 있지만, 수정할 수는 없다.
'''
print(type(indices.values)) # <class 'numpy.ndarray'>
print(indices.values.shape) # (891,)
print(indices[:5].values) # [0 1 2 3 4]
print(indices.values[:5]) # [0 1 2 3 4]
print(indices[6]) # 6

# indices[0] = 5 -> Error

In [ ]:
'''
Series 객체
- 컬럼 하나만으로 구성된 객체이다.(인덱스는 미포함 즉, 인덱스 컬럼 포함하면 컬럼 2개)
'''

series_fair = titanic_df["Fare"]
print(series_fair)
'''
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...   
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64
'''
print(series_fair.max()) # 512.3292
print(series_fair.sum()) # 28693.9493
print(sum(series_fair)) # 28693.949299999967
print((series_fair + 3).head(3))
'''
0    10.2500
1    74.2833
2    10.9250
Name: Fare, dtype: float64
'''

In [ ]:
'''
인덱스 리셋
- reset_index()
    - reset_index()의 inplace 매개변수가 False일 경우, 원본은 그대로 유지한다.
- 원래 존재하는 index는 index라는 이름의 컬럼으로 추가된다.
    - 새로운 index 컬럼이 생성된다.
'''
reset_df = titanic_df.reset_index(inplace=False)
reset_df.head(3)

In [ ]:
values_counts = titanic_df["Pclass"].value_counts() # value_counts()를 이용한 리턴값은 Series 타입으로 반환된다.
print(values_counts)
'''
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
'''
print(type(values_counts)) # <class 'pandas.core.series.Series'>
new_value_counts = values_counts.reset_index(inplace=False)
print(new_value_counts)
'''
   Pclass  count
0       3    491
1       1    216
2       2    184
'''
print(type(new_value_counts)) # <class 'pandas.core.frame.DataFrame'> 컬럼이 2개(Pclass, count)가 되었으니 Series 타입에서 DataFrame 타입으로 변경되었다.

In [ ]:
'''
인덱스 컬럼을 생성할때 기존 인덱스는 삭제시키기
- reset_index(drop=True)를 사용한다.
'''
reset_df = titanic_df.reset_index(inplace=False, drop=True)
reset_df.head(3)

In [ ]:
'''
인덱스 컬럼 리셋(drop = True)
'''
value_counts = titanic_df["Pclass"].value_counts()
print(value_counts)
'''
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
'''
print(type(value_counts)) # <class 'pandas.core.series.Series'>
new_value_counts = value_counts.reset_index(inplace=False, drop = True)
print(new_value_counts)
'''
0    491
1    216
2    184
Name: count, dtype: int64
'''
print(type(new_value_counts)) # <class 'pandas.core.series.Series'>

In [ ]:
'''
DataFrame의 [] 연산자
- 컬럼 이름 지정
'''
titanic_df["Pclass"].head(3)

In [ ]:
titanic_df[["Survived", "Pclass"]].head(3)

In [ ]:
'''
DataFrame의 [] 연산자
- 불리언 인덱스
'''
titanic_df[titanic_df["Pclass"] == 3].head(3) # titanic_df의 Pclass가 3인 행을 출력한다.

# 단일 인덱스 숫자를 사용하면 오류가 발생한다. 단, 슬라이싱은 가능하다.
# titanic_df[0]

In [ ]:
# 슬라이싱이 가능하지만, 사용하지 않는 것이 좋다.
titanic_df[0:2]

In [ ]:
'''
판다스의 위치 기반 인덱싱
- DataFrame의 iloc[]
'''
data = {
    "Name" : ["Chulmin", "Eunkyung", "Jinwoong", "Soobeom"],
    "Year" : [2011, 2016, 2015, 2015],
    "Gender" : ["Male", "Female", "Male", "Male"]
}
data_df = pd.DataFrame(data, index = ["one", "two", "three", "four"])
data_df

In [ ]:
# iloc[]에는 index만 넣을 수 있다, 이름으로 입력하면 오류가 발생한다.

# data_df.iloc[0, "Name"]

# data_df.iloc["one", 0]

In [ ]:
'''
DataFrame의 iloc[]은 팬시 인덱싱이 가능하다.
'''
print(data_df.iloc[[0, 2], 0])
'''
one       Chulmin
three    Jinwoong
Name: Name, dtype: object
'''
print(data_df.iloc[[0, 2], [0, 2]])
'''
           Name Gender
one     Chulmin   Male
three  Jinwoong   Male
'''

In [ ]:
'''
DataFrame의 iloc[]은 슬라이싱이 가능하다.
'''
print(data_df.iloc[1:3, 0])
'''
two      Eunkyung
three    Jinwoong
Name: Name, dtype: object
'''
print(data_df.iloc[2:, 1:3])
'''
       Year Gender
three  2015   Male
four   2015   Male
'''

In [ ]:
'''
DataFrame의 loc[]
- 이름 기반 인덱싱
'''
print(data_df.loc["one", "Name"]) # Chulmin

In [ ]:
'''
DataFrame의 loc[]
- 이름이 숫자인 경우
'''
reset_df = data_df.reset_index()
reset_df.index = reset_df.index + 1
print(reset_df)

In [ ]:
print(reset_df.loc[1, "Name"]) # Chulmin
# print(reset_df.loc[0, "Name"]) Error

In [ ]:
'''
DataFrame의 loc[]
- 팬시 인덱싱이 가능하다.
'''
print(data_df.loc[["one", "three"], "Name"])
'''
one       Chulmin
three    Jinwoong
Name: Name, dtype: object
'''
print(data_df.loc[["one", "three"], ["Name", "Gender"]])
'''
           Name Gender
one     Chulmin   Male
three  Jinwoong   Male
'''

In [ ]:
'''
DataFrame의 loc[]
- 슬라이싱이 가능하다.
    - 이름 기반이르모 -1을 못할 수도 있다.
'''
print(data_df.loc["one" : "three", "Name"])
'''
one       Chulmin
two      Eunkyung
three    Jinwoong
Name: Name, dtype: object
'''
print(data_df.loc["one" : "three", "Name" : "Year"])
'''
           Name  Year
one     Chulmin  2011
two    Eunkyung  2016
three  Jinwoong  2015
'''

In [ ]:
'''
DataFrame의 loc[]
- 불리언 인덱싱이 가능하다.
'''
titanic_boolean = titanic_df[titanic_df["Age"] > 60]
print(type(titanic_boolean)) # <class 'pandas.core.frame.DataFrame'>
titanic_boolean

In [ ]:
titanic_df[titanic_df["Age"] > 60][["Name", "Age"]].head(3) # 불리언 인덱싱 + 팬시 인덱싱

In [ ]:
titanic_df.loc[titanic_df["Age"] > 60, ["Name", "Age"]].head(3) # 불리언 인덱싱 + 이름 기반 인덱싱 + 팬시 인덱싱

In [ ]:
'''
불리언 인덱싱은 다음과 같은 조건 사용이 가능하다.
- AND(&), OR(|), NOT(~)
'''
titanic_df[(titanic_df["Age"] > 60) & (titanic_df["Pclass"] == 1) & (titanic_df["Sex"] == "female")]

In [ ]:
cond1 = titanic_df["Age"] > 60
cond2 = titanic_df["Pclass"] == 1
cond3 = titanic_df["Sex"] == "female"
titanic_df[cond1 & cond2 & cond3]

In [ ]:
'''
판다스의 정렬
- by
    - 해당 컬럼으로 정렬한다.
- ascending
    - 오름차순 True(기본값), 내림차순(False)
- inplace
    - 원본 수정(True), 원본 유지(False)
'''
titanic_sorted = titanic_df.sort_values(by = ["Name"])
titanic_sorted.head(3)

In [ ]:
titanic_sorted = titanic_df.sort_values(by=["Pclass", "Name"], ascending=False) # Plcass를 기준으로 정렬한 후, Name을 정렬한다.
titanic_sorted.head(3)

In [ ]:
'''
판다스의 aggregation 함수
- min(), max(), sum(), count(), mean() 등의 함수를 의미한다.
- aggregation 함수는 비어있는 셀은 계산하지 않는다.(데이터가 존재하는 셀만 계산한다.)
'''
titanic_df.count() # 모든 컬럼 
'''
PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64
'''

In [ ]:
titanic_df[["Age", "Fare"]].mean() # 특정 컬럼(Age, Fare)
'''
Age     29.699118
Fare    32.204208
dtype: float64
'''

In [ ]:
'''
groupby()
- 그룹으로 묶기
'''
titanic_groupby = titanic_df.groupby(by="Pclass")
print(type(titanic_groupby)) # <class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [ ]:
titanic_df.groupby("Pclass").count()

In [ ]:
titanic_df.groupby("Pclass")[["PassengerId", "Survived"]].count()

In [ ]:
titanic_df.groupby(["Pclass", "Sex"]).count() # Pclass를 기준으로 그룹으로 묶은 후, Sex를 기준으로 그룹으로 묶는다.

In [ ]:
titanic_df.groupby(["Pclass", "Sex"])[["PassengerId", "Survived"]].count()

In [ ]:
# groupby시, 컬럼에 여러 aggregation 함수 적용이 가능하다.
titanic_df.groupby("Pclass")["Age"].agg([max, min])

In [ ]:
titanic_df.groupby("Pclass")[["Age", "Fare"]].agg([max, min])

In [ ]:
# groupby시, 컬럼마다 다른 aggregation 함수 적용이 가능하다.
titanic_df.groupby("Pclass").agg({"Age" : "max", "SibSp" : "sum", "Fare" : "mean"})

In [ ]:
'''
결손 데이터
- 값이 없는 데이터이다.
- 값이 없는 NULL인 경우 -> NaN
- 평균, 총합 등 함수 연산 시 제외된다.
- NaN 여부 확인은 isna()를 이용하여 확인이 가능하다.
'''
titanic_df.isna() # False인 경우, 값이 들어있는 경우, True인 경우 값이 없는 경우이다.

In [ ]:
# NaN의 개수 : isna().sum()
titanic_df.isna().sum()
'''
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
'''

In [ ]:
# NaN을 fillna()를 이용하여, NaN 값을 다른 값으로 대체가 가능하다.
titanic_df["Cabin"] = titanic_df["Cabin"].fillna("C000")
titanic_df.head(3)

In [ ]:
titanic_df["Age"] = titanic_df["Age"].fillna(titanic_df["Age"].mean())
titanic_df["Embarked"].fillna("S", inplace=True)
titanic_df.isna().sum()

In [ ]:
'''
apply lambda
'''
def get_square(a):
    return a ** 2

print(get_square(3)) # 9

lambda_square = lambda x : x**2
print(lambda_square(3)) # 9

In [ ]:
# list(map(lambda x : x**2, [1, 2,3])) [1, 4, 9] -> list가 이미 선언되어 있기에 에러가 발생함 list가 선언되어 있지 않으면 이 코드도 아래의 코드와 같이 동일하게 동작한다.

import builtins
print(builtins.list(map(lambda x : x**2, list))) # [1, 4, 9]

In [ ]:
titanic_df["Name_len"] = titanic_df["Name"].apply(lambda x : len(x)) # Name 컬럼에 lambda식을 적용한다.
titanic_df[["Name", "Name_len"]].head(3)

In [ ]:
titanic_df["Child_Adult"] = titanic_df["Age"].apply(lambda x : "Child" if x <= 15 else "Adult")
titanic_df[["Age", "Child_Adult"]].head(8)

In [ ]:
titanic_df["Age_cat"] = titanic_df["Age"].apply(lambda x : "Child" if x <= 15 else ("Adult" if x <= 60 else "Elderly"))
titanic_df["Age_cat"].value_counts()
'''
Age_cat
Adult      786
Child       83
Elderly     22
Name: count, dtype: int64
'''

In [ ]:
def get_category(age):
    cat=""
    if age <= 5: cat = "Baby"
    elif age <= 12: cat = "Child"
    elif age <= 18: cat = "Teenager"
    elif age <= 25: cat = "Student"
    elif age <= 35: cat = "Young Adult"
    elif age <= 60: cat = "Adult"
    else: cat = "Elderly"
    return cat

titanic_df["Age_cat"] = titanic_df["Age"].apply(lambda x : get_category(x))
titanic_df[["Age", "Age_cat"]].head()